
<div class="mainImage collapse in">
  <%= image_tag("worldcolor.png", class:"worldImage") %>
  <div class="centered">
    <li class="dropdown">
      <a class="dropdown-toggle btn btn-primary btn-lg collapse in" data-toggle="dropdown" role="button" aria-expanded="false">Explore<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% Continent.all.each do |continent| %>
          <li data-toggle="collapse" data-target=".mainImage" class="<%= 'active' if params[:continent] == continent.name %>">
            <%= link_to continent.name, places_path(continent: continent.name), class:"link" %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle btn btn-info btn-lg collapse in" data-toggle="dropdown" role="button" aria-expanded="false">Inspire<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% Activity.all.each do |activity| %>
          <li data-toggle="collapse" data-target=".mainImage" class="<%= 'active' if params[:activity] == activity.activityname %>">
            <%= link_to activity.activityname, places_path(activity: activity.activityname), class:"link" %>
          </li>
        <% end %>
      </ul>
    </li>
  </div>
</div>
