<div class="col-md-8 col-md-offset-2">
  <div class="formGeneration">

<h1>Edit Itinerary ?</h1>

<%= simple_form_for @place, html: {multipart: true} do |f| %>
  <%= f.file_field :image %>
  <br>
  <%= f.select :continent_id, @continents %>
  <%= f.select :activity_id, @activities %>
  <br>
  <%= f.input :city, label: "Region/City" %>
  <%= f.input :description, label: "Itinerary" %>
  <%= f.button :submit %>
<% end %>


</div>

</div>
