<div class="formGeneration col-md-8 col-md-offset-2"">
  <h3>Edit Itinerary ?</h3>
  <%= simple_form_for @place, html: {multipart: true} do |f| %>
    <%= f.file_field :image %>
    <br>
    <%= f.select :continent_id, @continents %>
    <%= f.select :activity_id, @activities %>
    <hr/>
    <%= f.input :city, label: "Region/City" %>
    <%= f.input :description, label: "Itinerary" %>
    <%= f.button :submit, "Change me!", class: "btn btn-success" %>
  <% end %>
</div>
