<% if !params[:continent] && !params[:activity] %>
  <%= render 'titleImg' %>
  <%= render 'displayPlace' %>
<% end %>

<div class="col-md-10 col-md-offset-1">

<% if params[:continent] %>
  <h1><%= params[:continent] %></h1>
  <%= render 'displayPlace' %>
<% end %>
<% if params[:activity] %>
  <h1><%= params[:activity] %></h1>
  <%= render 'displayPlace' %>
<% end %>

</div>
