<div class="col-md-10 col-md-offset-1">

<div class="row">
  <div class="col-md-5 showSpace">
    <h2><%= @place.continent.name %></h2>
    <h3><%= @place.activity.activityname %></h3>
    <% if @place.image.url %>
      <%= image_tag @place.image.url, class:"placeImageShow" %>
    <% end %>
    <div class="links buttonSpace">
      <% if user_signed_in? %>
        <% if @place.user_id == current_user.id %>
          <p>
          <%= link_to "", edit_place_path(@place), class: "btn btn-primary glyphicon glyphicon-pencil" %>
          <%= link_to "", place_path(@place), method: :delete, data: { confirm: "Really? :("}, class: "btn btn-danger glyphicon glyphicon-trash" %>
          <% end %>
          <%= link_to "", upvote_place_path(@place), method: :put, class: "btn btn-warning glyphicon glyphicon-chevron-up" %>
          <%= @place.score %>
          <%= link_to "", downvote_place_path(@place), method: :put, class: "btn btn-warning glyphicon glyphicon-chevron-down" %>
          </p>
      <% end %>
    </div>
  </div>
  <div class="col-md-7">

    <h1><%= @place.city %></h1>
    <p><%= @place.description %></p>
    <hr/>

    <div class="col-md-10" reviewSpace>
      <%= render @place.reviews %>
      <%= link_to "+ Review", new_place_review_path(@place), class: "btn btn-info buttonSpace" %>
    </div>
  </div>
</div>



</div>
